{
  "plugins": [
    "stylelint-order",
    "stylelint-config-rational-order/plugin",
    "stylelint-at-rule-no-children"
  ],
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-airbnb",
    "stylelint-config-rational-order",
    "stylelint-config-prettier"
  ],
  "rules": {
    "aditayvm/at-rule-no-children": true,
    "order/order": [
      "dollar-variables",
      "declarations",
      "at-rules",
      {
        "type": "at-rule",
        "name": "include",
        "parameter": "breakpoint"
      },
      {
        "type": "rule",
        "selector": "^&::(before|after)"
      },
      {
        "type": "rule",
        "selector": "^&:\\w"
      },
      {
        "type": "rule",
        "selector": "^&_"
      },
      "rules"
    ],
    "order/properties-order": [],
    "plugin/rational-order": [true, {
      "empty-line-between-groups": true
    }],
    "at-rule-empty-line-before": null
  }
}