// Colors
$black: #000000;
$white: #ffffff;

$text: $black;
$text-gray-heading: lighten($black, 50);
$text-gray-price: lighten($black, 70);
$text-gray: lighten($black, 40);
$accent: #f5336d;
$border: lighten($black, 80);
$button: #7eb105;

// Sizes
$font-body: 13px;

//Functions
@function em($pixels, $context: $font-body) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@function rem($pixels) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($font-body)) {
    $font-body: $font-body * 1px;
  }

  @return $pixels / $font-body * 1rem;
}

// Media Queries
$desktoponly: '(min-width: 769px)';

$regular-phone: '(max-width: 320px)';

$smaller-then-large-phone: '(max-width: 420px)';
$large-phone: '(max-width: 480px)';

$smaller-then-regular-tablet: '(max-width: 740px)';
$regular-tablet: '(max-width: 768px)';

$smaller-then-large-tablet: '(max-width: 780px)';
$large-tablet: '(max-width: 1024px)';

$smaller-then-small-desktop2: '(max-width: 1170px)';
$smaller-then-small-desktop: '(max-width: 1200px)';
$small-desktop: '(max-width: 1280px)';

$medium-desktop: '(max-width: 1440px)';
$large-desktop: '(max-width: 1600px)';
$extra-large-desktop: '(max-width: 1920px)';
$laptop: '(max-height: 1023px)';

@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}
